14-a-n8n/Email Automation.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "73aef5c8-7260-4972-8006-fb32d539f41e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "a5dkTdtPhTBYAdUi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "15d94c23-67ba-4dee-9725-b67147fccae9",
              "leftValue": "={{ $json.From.includes(\"no reply\") }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "0a40ef99-4761-462d-94da-b1ffd7b75173",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a Reply for below Email\n\nSubject:  {{ $json.Subject }}\nBody: {{ $json.snippet }}\n\nOnly give Reply Text Nothing Before or After"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        -96
      ],
      "id": "e3b05a72-45c0-451a-ae35-f62a633f9a93",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "QJRCxcluSKG88alm",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        -96
      ],
      "id": "41f75c96-6dd8-41bc-a04d-bb51d58c5f97",
      "name": "Reply to a message",
      "webhookId": "a51710ef-f0ce-41ab-8f1c-9bcc79e038e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "a5dkTdtPhTBYAdUi",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2bf849be-ae15-4cad-ac34-75a7d9befa94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a9e93f184ab8cffe5b1408d81b980c3ac3b7d5ba12680c58f8f90e349f28482"
  },
  "id": "knA8dgVIbdB6rrJe",
  "tags": []
}